/* home.css */

/* General Styling */
.Home {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

/* Header styling */
h3 {
  color: #333;
  margin-bottom: 20px;
}



/* Button for PDF options */
button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: none;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}



button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Table Container */
.table-container {
  margin-top: 30px;
  /* overflow-x: auto; */
  background-color: white;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #272d50;
  color: white;
}

td {
  background-color: #f9f9f9;
}

.table-header {
  background-color: #f4f4f4;
  color: #555;
}

.table-container .action-buttons {
  display: flex;
  gap: 10px;
}



.action-buttons button {
  
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  
}



.action-buttons .btn-danger {
  background-color: #f44336;
}

.action-buttons .btn-danger:hover {
  background-color: #e53935;
}

/* PDF Options Section */
.report-box {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.report-box h4 {
  font-size: 20px;
  font-weight: bold;
}

.report-inputs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.report-input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}



/* Profile section styling */
.profile-info {
  display: flex;
  justify-content: flex-start;
  align-items: right;
}

.profile-info span {
  align-items: right;
  margin-right: 10px;
  color: #2196F3;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 20px;
}

/* Welcome Message */
.welcome-text {
  color: rgb(10, 10, 10);
  font-size: 16px;
  margin-right: 15px;
}

/* Logout Button */
.logout-btn {
  background-color: #dc3545;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #c82333;
}

.icon {
  width: 100%;
  border: none;
  background: none; /* No background */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Removes extra space */
}

.icon img {
  width: 50px; /* Adjust icon size */
  height: 50px;
  display: block; /* Prevents unwanted spacing */
}

.icon:hover {
  opacity: 0.7; /* Slight fade effect on hover */
  transition: opacity 0.3s ease; /* Smooth transition */
}


