.register-container {
  display: flex;
  height: 100vh;
  width: 100vw; /* Ensure the container takes up the full viewport width */
  background: linear-gradient(to right, #141e30, #243b55);
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  box-sizing: border-box; /* Prevent padding from causing overflow */
  overflow: hidden; /* Prevent overflow */
}

.register-box {
  display: flex;
  width: 100%;
  height: 70%;
  max-width: 1000px; /* Optional: limits the width */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevent content from overflowing */
}

.image-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center them horizontally */
  justify-content: center; /* Center them vertically */
  background: #141e30;
  padding: 40px;
  animation: slide-in 0.5s ease-out forwards;
}

.image-section h1 {
  color: white;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px; /* Add space below the heading */
}

.image-section p {
  color: white;
  font-size: 1.2em;
  text-align: center;
}


.register-form {
  width: 50%;
  background: #fff;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slide-in 0.5s ease-out forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 20%;
  padding: 10px;
  background: white;
  color: #141e30;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(243, 236, 236, 0.1);
}

.btn2 {
  width: 100%;
  padding: 10px;
  background: #141e30;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}



.btn2.secondary {
  background: transparent;
  color: #141e30;
  border: 1px solid #141e30;
}

.btn2.secondary:hover {
  background: #141e30;
  color: white;
}

@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
    padding: 10px;
  }

  .register-box {
    flex-direction: column; /* Stack image and form vertically on small screens */
    width: 100%;
    height: auto; /* Allow height to adjust */
  }

  .image-section {
    height: 200px;
  }

  .register-form {
    width: 100%;
    padding: 20px;
  }

  .input-group input {
    padding: 8px;
  }

  .btn {
    padding: 12px;
  }
}
